<form action="/diary" method="post">
<input type="text" name="username" placerholder="username"/>
  <input type="text" name="word_otd" placerholder="word_otd"/>
  <input type="submit" value='Submit' name="Submit"/>
</form>
