<center>
<form action="/diary" method="post">
<p>Enter Username</p>
<input type="text" name="username" placerholder="username"/>
<p>Enter your word of the day</p>
  <input type="text" name="word_otd" placerholder="word_otd"/>
  <input type="submit" value='Submit' name="Submit"/>
</form>
</center>